# Fileupload

In [19]:
import pandas as pd
import os
import numpy as np
import statsmodels.api as sm
import scipy

In [16]:
 os.getcwd()

'/home/wseis/qmra/tools'

In [17]:
data = pd.read_csv("./logremoval/testdata.csv")

In [18]:
data

          date   inflow  censored_in  outflow  censored_out
0   2022-01-01      100          NaN        3           NaN
1   2022-01-02       12          NaN        4           NaN
2   2022-01-03      654          NaN        5           NaN
3   2022-01-04       23          NaN        6           NaN
4   2022-01-05    52535          NaN        7           NaN
5   2022-01-06     8765          NaN        8           NaN
6   2022-01-07   876543          NaN       90           NaN
7   2022-01-08  2345678          NaN       54           NaN
8   2022-01-09   987654          NaN        3           NaN
9   2022-01-10    54322          NaN       23           NaN
10  2022-01-11     9865          NaN       43           NaN
11  2022-01-12     5432          NaN      543           NaN
12  2022-01-13   987654          NaN        3           NaN